.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
node_modules
npm-debug.log
bin
obj
.vscode
*.md
LICENSE
*.log
*.dbmdl
*.jfm
*.user
.env
charts
compose*
secrets.dev.yaml
values.dev.yaml
README.md
